Package: com.brend0n.ccvpnnoupdatedelay
Name: CCVPNNoUpdateDelay
Depends: mobilesubstrate, com.kingpuffdaddi.control-center.ccvpn
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
